footer {
  border-top: 1px solid #139c19;
  color: #139c19;
  text-align: center;
}
footer * {
  display: inline-block;
}
footer ul {
  margin-top: 25px;
  list-style-type: none;
}
footer a {
  display: block;
  text-decoration: none;
  color: #e9f6e9;
  padding: 10px 30px;
  background: linear-gradient(#19b123, #139c19);
  border-radius: 50px;
}

footer a:hover {
  color: #000;
  background: rgba(21, 165, 29, 0.5);
}
